.home-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    padding-bottom: 5vh;

    /* Fade escuro no fundo */
    background: linear-gradient(to bottom, transparent 52%, rgba(0, 0, 0, 0.9) 100%);
}

.home-titulo {
    padding-left: 10%;
    color: var(--primaria);
    font-size: 1.3rem;
    }

@media (min-width: 768px) {
    .home-container {
        
    }

    .home-titulo {
        font-size: 1rem;
        padding-left: 18%;
    }

    .home-titulo h1 {
    font-size: 3rem;
    }
}