#cabecalho-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#filtro-ordenacao {
    max-width: 200px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--detalhe);
    background: white;
    cursor: pointer;
}